.ic_gallery_item:hover .ic_gallery_thumbnail::after {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
}

.ic_gallery_item:hover .ic_gallery_content {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}

.ic_gallery_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 100%;
    padding: 0px 30px;
    z-index: 9;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.ic_gallery_thumbnail {
    position: relative;
    overflow: hidden;
    display: flex;
}

.ic_gallery_thumbnail img {
    max-width: 100%;
    height: auto;
}

.ic_gallery_thumbnail::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(7, 28, 31, 0.64) 28.2%, rgba(0, 0, 0, 0) 50%);
    border-radius: 12px;
    z-index: 1;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;

}

.ic_gallery_content p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.ic_gallery_content svg {
    color: var(--primary-color);
}

/***Responsive***/

@media only screen and (max-width: 1399.98px) {
    .ic_gallery_content {
        padding: 0px 25px;
    }

    .ic_gallery_item:hover .ic_gallery_content {
        bottom: 25px;
    }
}

@media only screen and (max-width: 575.98px) {
    .ic_gallery_thumbnail img {
        width: 100%;
        height: auto;
    }
}