.ic_pagination {
    padding-top: 40px;
}

.ic_pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ic_pagination ul li {
    list-style-type: none;
}

.ic_pagination ul li button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
    transition: all 0.5s ease;
}

.ic_pagination ul li button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.ic_pagination ul li button.ic_active {
    background-color: rgb(255 90 60 / 10%);
    color: var(--primary-color);
}

.ic_pagination ul li button:hover {
    background-color: rgb(255 90 60 / 10%);
    color: var(--primary-color);
}