.ic_profile_img {
  background-color: var(--white-color);
  box-shadow: 0px 4px 16px 0px #00000014;
  border: 1px solid #eff1fb;
  border-radius: 16px;
  padding: 24px 24px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.ic_avatar {
  flex: 0 0 auto;
}
.ic_profile_img img {
  border-radius: 50%;
}

.ic_upload_btn {
  flex: 1;
  border: 1px solid #e5e8f7;
  border-radius: 8px;
  text-align: center;
  padding: 16px 0px;
  position: relative;
}

.ic_upload_btn .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f4f7;
  border: 6px solid #f9fafb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #475467;
}
.ic_upload_btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.ic_personal_info {
  box-shadow: 0px 4px 16px 0px #00000014;
  background-color: var(--white-color);
  border-radius: 10px;
}
.ic_form_wrap {
  padding: 24px 24px;
}
.ic_form_btn_wrap {
  padding: 16px 24px;
  border-top: 1px solid #eff1fb;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.ic_cancel_btn {
  background-color: var(--white-color);
  border: 1px solid #e5e8f7;
  box-shadow: 0px 1px 2px 0px #1018280d;
  color: var(--title-color);
}
.ic_input_group label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
  color: var(--title-color);
}
.ic_input_group input,
.ic_input_group textarea {
  background-color: var(--white-color);
  border: 1px solid #e5e8f7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  width: 100%;
  height: 44px;
  padding: 0px 14px;
}
.ic_input_group textarea {
  padding: 14px 14px;
  height: 120px;
}

@media only screen and (max-width: 575.98px) {
  .ic_form_btn_wrap {
    flex-direction: column;
  }
}
