.ic_reviews_item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e8f7;
}
.ic_reviews_item:last-child {
  margin-bottom: 0;
  padding-bottom: 0px;
  border-bottom: none;
}
.ic_reviews_header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.ic_reviews_header img {
  border-radius: 50%;
}

.ic_reviews {
  margin-top: 10px;
}
.ic_reviews svg {
  color: #ffa920;
}
