.ic_social_media_wrap {
  box-shadow: 0px 4px 16px 0px #00000014;
  background-color: var(--white-color);
  border-radius: 10px;
}
.ic_form_wrap {
  padding: 24px 24px;
}
.ic_form_btn_wrap {
  padding: 16px 24px;
  border-top: 1px solid #eff1fb;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.ic_cancel_btn {
  background-color: var(--white-color);
  border: 1px solid #e5e8f7;
  box-shadow: 0px 1px 2px 0px #1018280d;
  color: var(--title-color);
}
.ic_input_group label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
  color: var(--title-color);
}
.ic_input_group input {
  background-color: var(--white-color);
  border: 1px solid #e5e8f7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  width: 100%;
  height: 44px;
  padding: 0px 14px;
}

@media only screen and (max-width: 575.98px) {
  .ic_form_btn_wrap {
    flex-direction: column;
  }
}
