/* Apartment sketch CSS */
.ic_apartment_sketch_tab {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ic_apartment_sketch_tab {
  border-radius: 36px;
  background: #f0f4fd;
  padding: 17px 30px;
}
.ic_apartment_sketch_tab button {
  background-color: transparent;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.ic_apartment_sketch_tab button.active {
  color: var(--primary-color);
}

.ic_info_box {
  background-color: #f0f4fd;
  border-radius: 12px;
  padding: 45px 45px;
  color: var(--title-color);
}

.ic_info_box .ic_item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 30px;
}

.ic_info_box .ic_item:last-child {
  margin-bottom: 0px;
}

.ic_info_box .ic_item .ic_line {
  border: 1px dashed var(--title-color);
  flex: 1;
}

.ic_info_box .ic_item .ic_left_text {
  flex: 0 0 auto;
}

.ic_info_box .ic_item .ic_right_text {
  flex: 0 0 auto;
  width: 15%;
}
.ic_living_space_header_left {
  padding-right: 60px;
}
.ic_living_space_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ic_price {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  padding: 10px;
}

/* Apartment Sketch Responsive */

@media only screen and (max-width: 1399.98px) {
  .ic_info_box {
    padding: 30px 30px;
  }

  .ic_info_box .ic_item {
    margin-bottom: 25px;
  }

  .ic_info_box .ic_item .ic_right_text {
    width: 16%;
  }
  .ic_apartment_sketch_tab {
    padding: 15px 12px;
  }
  .ic_apartment_sketch_tab {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_info_box {
    padding: 25px 25px;
  }

  .ic_info_box .ic_item {
    margin-bottom: 20px;
  }

  .ic_info_box .ic_item .ic_right_text {
    width: 21%;
  }
  .ic_apartment_sketch_tab button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 991.98px) {
  .ic_apartment_sketch_tab {
    gap: 40px;
  }

  .ic_sketch_img {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767.98px) {
  .ic_apartment_sketch_tab {
    gap: 20px;
  }

  .ic_info_box .ic_item {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 575.98px) {
  .ic_apartment_sketch_tab {
    gap: 10px;
  }

  .ic_info_box .ic_item {
    margin-bottom: 15px;
  }

  .ic_info_box .ic_item .ic_right_text {
    width: 24%;
  }
}
