.ic_mt_40 {
    margin-top: 40px;
}

.ic_mb_40 {
    margin-bottom: 40px;
}

.ic_title_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ic_property_details {
    background-color: var(--background);
    border-radius: 12px;
}

.ic_property_details {
    display: flex;
    flex-wrap: wrap;
}

.ic_property_details_item {
    flex: 0 0 auto;
    width: 50%;
    padding: 40px 40px;
    border-right: 1px solid #D1D0D0;
}

.ic_property_details_item:last-child {
    border-right: 0px;
}

.ic_property_details_item .ic_item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ic_property_details_item .ic_item:last-child {
    margin-bottom: 0px;
}

.ic_facts_features_item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ic_amenities_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ic_amenities_item .icon {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 16px;
}

.ic_location_map iframe {
    border-radius: 12px;
    border: none;
    height: 350px;
}

.ic_property_video {
    position: relative;
}

.ic_property_video img {
    max-width: 100%;
    height: auto;
}

/**Play button style**/
.ic_play_btn {
    width: 90px;
    height: 90px;
    background: var(--primary-color);
    border-radius: 50%;
    position: relative;
    display: block;
    border: none;
    cursor: pointer;

}

/* triangle */
.ic_play_btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid var(--white-color);
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.ic_video_play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* pulse wave */
.ic_play_btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(253, 253, 253, .40);
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}


/***Responsive****/

@media only screen and (max-width: 1399.98px) {
    .ic_mt_40 {
        margin-top: 35px;
    }

    .ic_mb_40 {
        margin-bottom: 35px;
    }

    .ic_play_btn {
        width: 80px;
        height: 80px;
    }

    .ic_location_map iframe {
        height: 300px;
    }

    .ic_property_details_item {
        padding: 30px 30px;
    }
}

@media only screen and (max-width: 1199.98px) {
    .ic_mt_40 {
        margin-top: 30px;
    }

    .ic_mb_40 {
        margin-bottom: 30px;
    }

    .ic_play_btn {
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 991.98px) {
    .ic_mt_40 {
        margin-top: 25px;
    }

    .ic_mb_40 {
        margin-bottom: 25px;
    }

    .ic_property_details_item {
        padding: 25px 25px;
    }
}

@media only screen and (max-width: 991.98px) {
    .ic_mt_40 {
        margin-top: 20px;
    }

    .ic_mb_40 {
        margin-bottom: 20px;
    }

    .ic_location_map iframe {
        height: 250px;
    }
}

@media only screen and (max-width: 767.98px) {
    .ic_property_details_item {
        padding: 20px 20px;
        width: 100%;
        border-right: 0px;
    }

    .ic_property_details_item:first-child {
        padding-bottom: 0px;
    }

    .ic_property_details_item:last-child {
        padding-top: 10px;
    }

    .ic_property_details_item .ic_item {
        margin-bottom: 10px;
    }
}