/* Featured Listing CSS */
.ic_property_item {
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

.ic_property_listing_tab {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin-bottom: 40px;
}

.ic_property_listing_tab button {
  font-weight: 500;
  color: var(--title-color);
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-inter);
  transition: all 0.5s ease;
}

.ic_property_listing_tab button.active {
  color: var(--primary-color);
}

.ic_property_listing_tab button:hover {
  color: var(--primary-color);
}

/* Featured Listing Responsive */

@media only screen and (max-width: 1399.98px) {
  .ic_property_listing_tab {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_property_listing_tab {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991.98px) {
  .ic_property_listing_tab {
    margin-bottom: 25px;
  }

  .ic_property_listing_tab {
    gap: 30px;
  }
}

@media only screen and (max-width: 767.98px) {
  .ic_property_listing_tab {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 575.98px) {
  .ic_property_listing_tab {
    gap: 15px;
  }

  .ic_property_listing_tab button {
    font-size: 15px;
  }
}
