.ic_facility {
  background: #f0f4fd;
}
.ic_facility_item {
  border-radius: 12px;
  background: #fff;
  padding: 32px 30px;
  cursor: pointer;
  height: 100%;
}
.ic_facility_item p {
  color: var(--body-color);
}
.ic_icon {
  position: relative;
}
.ic_color_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.ic_facility_item:hover .ic_color_icon {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.ic_facility_item h4 {
  transition: all 0.3s;
}
.ic_facility_item:hover h4 {
  color: var(--primary-color);
}

@media (max-width: 1199.98px) {
  .ic_facility_item {
    padding: 25px;
  }
}
