/**------variable------**/

:root {
  --title-color: #071c1f;
  --body-color: #5c727d;
  --primary-color: #ff5a3c;
  --secondary-color: #004274;
  --border-color: #e5e8f7;
  --background: #f2f6f7;
  --white-color: #ffffff;
  --gray-color: #f2f6f7;
  --title-light-color: #344054;
}

/**------Typography------**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
}

h1 {
  font-size: 66px;
  line-height: 72px;
  font-weight: 700;
  font-family: var(--font-inter);
}

h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  font-family: var(--font-inter);
}

h3 {
  font-size: 36px;
  line-height: 52px;
  font-weight: 600;
  font-family: var(--font-inter);
}

.h3_2 {
  font-size: 30px;
  line-height: normal;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  font-family: var(--font-inter);
}

h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.h5_2 {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.h6 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.position_relative {
  position: relative;
}

p,
a,
span,
li,
label,
button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--font-inter);
  text-decoration: none;
}

button {
  cursor: pointer;
}

.body_s {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.ic_fw_400 {
  font-weight: 400;
}

.ic_fw_500 {
  font-weight: 500;
}

.ic_fw_600 {
  font-weight: 600;
}

.ic_fw_700 {
  font-weight: 700;
}

.ic_fw_700 {
  font-weight: 700;
}

/**------Global class------**/

.ic_container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.ic_primary_color {
  color: var(--primary-color);
}

.ic_title_color {
  color: var(--title-color);
}

.ic_body_color {
  color: var(--body-color);
}
.ic_title_light_color {
  color: var(--title-light-color);
}

.ic_secondary_color {
  color: var(--secondary-color);
}

.ic_border_color {
  color: var(--border-color);
}

.ic_background {
  background-color: var(--background);
}

.ic_white_color {
  color: var(--white-color);
}

/**------Spacing------**/

.ic_section_space {
  padding: 120px 0;
}

.ic_section_space_top {
  padding-top: 120px;
}

.ic_section_space_bottom {
  padding-bottom: 120px;
}
.w-100 {
  width: 100%;
}
.ic_mb_5 {
  margin-bottom: 5px;
}

.ic_mb_10 {
  margin-bottom: 10px;
}

.ic_mb_15 {
  margin-bottom: 15px;
}

.ic_mb_16 {
  margin-bottom: 16px;
}

.ic_mb_20 {
  margin-bottom: 20px;
}
.ic_mb_24 {
  margin-bottom: 24px;
}
.ic_mb_25 {
  margin-bottom: 25px;
}

.ic_mb_30 {
  margin-bottom: 30px;
}

.ic_mb_35 {
  margin-bottom: 35px;
}

.ic_mb_40 {
  margin-bottom: 40px;
}

/**------Button Style------**/

.ic_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: var(--font-inter);
  text-decoration: none;
  text-transform: capitalize;
}

.ic_btn_sm {
  padding: 0 20px;
  height: 36px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ic_btn_md {
  height: 40px;
  padding: 0px 24px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ic_btn_md_outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.ic_btn_lg {
  height: 46px;
  padding: 0px 34px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ic_btn_xl {
  height: 52px;
  padding: 0px 24px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ic_btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.ic_btn_md_outline:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/**------Input Style------**/
input {
  font-family: var(--font-inter);
  font-size: 16px;
}

input::placeholder {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
}

input:focus {
  outline: none;
  box-shadow: none;
}

textarea::placeholder {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

.ic_form_select_global .ant-select-selector {
  border: none !important;
}

.ant-select-selection-placeholder {
  font-family: var(--font-inter);
  font-size: 14px;
  color: var(--body-color) !important;
}

.ic_form_select_global .ant-select-selector {
  padding: 0px 16px !important;
}
.text_center {
  text-align: center;
}
/**------Global Style------**/

/* Header sticky */
.ic_header_wrap.sticky {
  background-color: rgba(0, 66, 116, 0.95);
  width: 100%;
  position: fixed;
  z-index: 99;
}

.ic_header2_wrap.sticky {
  background-color: var(--white-color);
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
}

/* Banner Select */
.ic_banner_input .ant-select {
  height: 46px;
}

.ic_banner_input .ant-select-selector {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.ic_banner_input .ant-select .ant-select-selection-placeholder {
  color: var(--body-color);
}

/* Section heading style */
.ic_sec_heading {
  margin-bottom: 40px;
}

.ic_sec_heading.text_center {
  text-align: center;
}

.ic_sec_heading .ic_sub_title {
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 90, 60, 0.1);
  border-radius: 100px;
  padding: 0px 18px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.ic_sec_heading .ic_title {
  margin-bottom: 16px;
}

.ant-collapse-header {
  align-items: center !important;
}

/**slider dots styles**/
.slick-dots {
  position: static;
  margin-top: 40px;
}

.slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.slick-dots li.slick-active button {
  background-color: var(--primary-color);
  width: 25px;
  border-radius: 50px;
}

.slick-dots button::before {
  display: none;
}

.ic_img_fluid {
  max-width: 100%;
  height: auto;
}

.slick-list {
  margin: 0 -12px;
}

.slick-slide > div {
  padding: 0 12px;
}

.ic_gallery_area_wrap {
  overflow: hidden;
}

.ic_gallery_area_wrap .slick-list {
  margin: 0 0px;
}

.ic_gallery_area_wrap .slick-slide > div {
  padding: 0 0px;
}

.ic_testimonial_slider2_wrapper .slick-list {
  padding-top: 50px !important;
  padding-bottom: 20px !important;
}

.ic_testimonial_slider2_wrapper .slick-center .ic_testimonial_slider2_item {
  top: -30px;
  position: relative;
}

.ic_area_properties_slider .slick-list {
  padding-bottom: 20px;
}

.ic_home3_banner .slick-slide img {
  width: 100%;
  height: auto;
}
.ic_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic_apartments .slick-slide > div {
  padding: 0;
}

.ic_rent_properties_slider {
  overflow: hidden;
}

.ic_rent_properties_slider .slick-dots li button {
  height: 2px;
  padding: 2px;
  background: #e2e6ee;
  border-radius: 1px;
  width: 100px;
}
.ic_rent_properties_slider .slick-dots li {
  height: 2px;
  margin: 0px;
}
.ic_rent_properties_slider .slick-dots li.slick-active button {
  background: var(--primary-color);
}
.ic_client_review {
  overflow: hidden;
}

.ic_client_review .slick-dots li {
  margin: 0;
}
.ic_client_review .slick-dots li button {
  height: 2px;
  padding: 2px;
  background: rgb(226, 230, 238);
  border-radius: 1px;
  width: 100px;
}
.ic_client_review .slick-dots li.slick-active button {
  background: var(--primary-color);
}

/**Responsive**/
@media only screen and (max-width: 1399.98px) {
  .ic_btn_lg {
    height: 44px;
    padding: 0px 32px;
  }

  .ic_btn_xl {
    height: 50px;
    padding: 0px 22px;
  }

  .ic_container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .ic_section_space {
    padding: 100px 0;
  }

  .ic_section_space_top {
    padding-top: 100px;
  }

  .ic_section_space_bottom {
    padding-bottom: 100px;
  }

  h1 {
    font-size: 60px;
    line-height: 66px;
  }

  h2 {
    font-size: 40px;
    line-height: 46px;
  }

  h3 {
    font-size: 32px;
    line-height: 48px;
  }

  .h3_2 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5,
  .h5 {
    font-size: 20px;
    line-height: 28px;
  }

  .h5_2 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
    line-height: 24px;
  }

  .ic_mb_40 {
    margin-bottom: 35px;
  }

  .ic_mb_30 {
    margin-bottom: 25px;
  }
  .ic_mb_24 {
    margin-bottom: 22px;
  }

  .ic_mb_20 {
    margin-bottom: 16px;
  }

  .ic_mb_16 {
    margin-bottom: 12px;
  }

  .ic_sec_heading {
    margin-bottom: 35px;
  }

  .ic_sec_heading .ic_sub_title {
    margin-bottom: 12px;
  }

  .ic_sec_heading .ic_title {
    margin-bottom: 14px;
  }

  .slick-dots {
    margin-top: 35px;
  }
  .ic_client_review .slick-dots li button {
    width: 90px;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_btn_lg {
    height: 42px;
    padding: 0px 30px;
  }

  .ic_btn_xl {
    height: 48px;
    padding: 0px 20px;
  }

  .ic_section_space {
    padding: 80px 0;
  }

  .ic_section_space_top {
    padding-top: 80px;
  }

  .ic_section_space_bottom {
    padding-bottom: 80px;
  }

  .ic_sec_heading {
    margin-bottom: 30px;
  }

  .ic_sec_heading .ic_sub_title {
    margin-bottom: 10px;
  }

  .ic_sec_heading .ic_title {
    margin-bottom: 12px;
  }

  .ic_container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {
    font-size: 54px;
    line-height: 60px;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
  }

  h3 {
    font-size: 30px;
    line-height: 46px;
  }

  .h3_2 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 18px;
    line-height: 26px;
  }

  .h5_2 {
    font-size: 16px;
  }

  h6 {
    font-size: 15px;
    line-height: 22px;
  }

  .slick-dots {
    margin-top: 30px;
  }

  .ic_mb_40 {
    margin-bottom: 30px;
  }

  .ic_mb_30 {
    margin-bottom: 20px;
  }

  .ic_mb_24 {
    margin-bottom: 20px;
  }
  .ic_mb_20 {
    margin-bottom: 12px;
  }

  .ic_mb_16 {
    margin-bottom: 10px;
  }
  .ic_client_review .slick-dots li button {
    width: 80px;
  }
}

@media only screen and (max-width: 991.98px) {
  .ic_container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .ic_btn_lg {
    height: 40px;
    padding: 0px 28px;
  }

  .ic_btn_xl {
    height: 46px;
    padding: 0px 18px;
  }

  .ic_section_space {
    padding: 60px 0;
  }

  .ic_section_space_top {
    padding-top: 60px;
  }

  .ic_section_space_bottom {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 46px;
    line-height: 52px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 28px;
    line-height: 42px;
  }

  .h3_2 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .h5_2 {
    font-size: 15px;
  }

  .ic_sec_heading {
    margin-bottom: 25px;
  }

  .ic_sec_heading .ic_sub_title {
    margin-bottom: 10px;
  }

  .ic_sec_heading .ic_title {
    margin-bottom: 10px;
  }

  .slick-dots {
    margin-top: 25px;
  }

  .ic_mb_40 {
    margin-bottom: 25px;
  }

  .ic_mb_30 {
    margin-bottom: 15px;
  }
  .ic_mb_24 {
    margin-bottom: 18px;
  }

  .ic_testimonial_slider2_wrapper .slick-list {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
  }

  .ic_testimonial_slider2_wrapper .slick-center .ic_testimonial_slider2_item {
    top: 0px;
    position: relative;
  }
  .ic_home3_banner .slick-slide img {
    height: 130px;
    object-fit: scale-down;
  }
  .ic_apartments .slick-slide img {
    height: auto;
  }
  .ic_client_review .slick-dots li button {
    width: 70px;
  }
}

.ic_change_monthly .ant-switch {
  width: 63px;
  height: 34px;
}
.ic_change_monthly .ant-switch-handle {
  top: 5px !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  inset-inline-start: 6px !important;
}
.ic_change_monthly .ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 30px) !important;
}
.ic_change_monthly .ant-switch.ant-switch-checked {
  background: var(--primary-color);
}
.ic_change_monthly
  .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: var(--primary-color);
}
.ic_change_monthly .ant-switch-handle::before {
  border-radius: 50% !important;
}

.nowrap {
  white-space: nowrap;
}

@media only screen and (max-width: 767.98px) {
  .ic_container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .ic_sec_heading {
    margin-bottom: 20px;
  }

  .ic_btn_lg {
    height: 38px;
    padding: 0px 26px;
  }

  .ic_btn_xl {
    height: 44px;
    padding: 0px 16px;
  }

  .ic_section_space {
    padding: 50px 0;
  }

  .ic_section_space_top {
    padding-top: 50px;
  }

  .ic_section_space_bottom {
    padding-bottom: 50px;
  }

  h1 {
    font-size: 42px;
    line-height: 48px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
  }

  h3 {
    font-size: 26px;
    line-height: 38px;
  }

  .h3_2 {
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  h5,
  .h5 {
    font-size: 14px;
    line-height: 22px;
  }

  p,
  a,
  span,
  li,
  label,
  button {
    font-size: 14px;
    line-height: 24px;
  }

  .slick-dots {
    margin-top: 15px;
  }

  .ic_mb_40 {
    margin-bottom: 20px;
  }
  .ic_mb_24 {
    margin-bottom: 16px;
  }
  .ic_client_review .slick-dots li button {
    width: 60px;
  }
}

@media only screen and (max-width: 575.98px) {
  .ic_container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .h3_2 {
    font-size: 20px;
  }
  .ic_mb_24 {
    margin-bottom: 14px;
  }
  .ic_client_review .slick-dots li button {
    width: 50px;
  }
}
