.ic_tes_content {
  background-color: var(--white-color);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 50px;
  position: relative;
}

.ic_quote {
  position: absolute;
  top: 30px;
  right: 30px;
}

.ic_quote svg {
  font-size: 48px;
  color: rgba(0, 66, 116, 0.3);
}

.ic_user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ic_user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ic_ratting svg {
  color: #ff9f10;
}

/***Responsive***/

@media only screen and (max-width: 1399.98px) {
  .ic_tes_content {
    padding: 40px;
  }

  .ic_quote {
    top: 15px;
    right: 20px;
  }

  .ic_quote svg {
    font-size: 45px;
  }

  .ic_user {
    gap: 10px;
  }

  .ic_user img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_tes_content {
    padding: 30px;
  }

  .ic_quote svg {
    font-size: 38px;
  }
}
