.ic_add_listing_wrapper {
    max-width: 870px;
    margin: auto;
}

.ic_add_listing_item {
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);

    border: 1px solid var(--border-color);
    padding: 40px 60px;
    text-align: center;
    height: 100%;
}

/********** Responsive **********/

@media only screen and (max-width: 1399.98px) {
    .ic_add_listing_item {
        padding: 30px 40px;
    }
}

@media only screen and (max-width: 1199.98px) {
    .ic_add_listing_item {
        padding: 25px 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    .ic_add_listing_item {
        height: auto;
    }
}