.ic_agency_sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ic_sort_by {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Agency Item */

.ic_agency_item {
  border: 1px solid #eff1fc;
  box-shadow: 0px 4px 16px 0px #00000014;
  border-radius: 12px;
  padding: 30px 30px;
  margin-bottom: 24px;
}
.ic_agency_item:last-child {
  margin-bottom: 0px;
}
.ic_agency_avatar img {
  border-radius: 50%;
}
.ic_agency_top {
  display: flex;
  align-items: center;
  gap: 25px;
}
.ic_agency_info {
  flex: 1;
}
.ic_contact {
  display: flex;
  align-items: center;
  gap: 12px;
}
.ic_contact .ic_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ebedef;
  font-size: 16px;
  color: var(--primary-color);
}
.ic_contact .ic_content {
  flex: 1;
}
.ic_agency_social_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #e9e9e9;
}
.ic_agency_social_count ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ic_agency_social_count ul li {
  list-style-type: none;
}
.ic_agency_social_count ul li a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e5e8f7;
  color: var(--body-color);
  font-size: 16px;
  transition: all 0.3s;
}
.ic_agency_social_count ul li a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/**Agency right**/
.ic_agent_right {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid #e9e9e9;
  padding: 30px 25px;
}
.ic_agent_search_input .ic_item {
  margin-bottom: 12px;
}
.ic_agent_search_input .ic_item:last-child {
  margin-bottom: 0px;
}
.ic_agent_search_input input {
  height: 45px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0px 15px;
  width: 100%;
}
.ic_latest_listing {
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
}

.ic_latest_listing_item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.ic_latest_listing_item:last-child {
  margin-bottom: 0px;
}

.ic_latest_listing_thumb {
  flex: 0 0 auto;
  width: 100px;
}

.ic_latest_listing_thumb img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.ic_latest_listing_content p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
