.ic_header_wrapper {
  box-shadow: 0px 0px 16px 0px #0c11211a;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 60px;
  margin-left: 300px;
  position: fixed;
  width: calc(100% - 300px);
  z-index: 1000;
  top: 0;
  left: 0;
  transition: 0.4s;
}
.ic_header_wrapper.ic_collapsed {
  margin-left: 0px;
  width: calc(100% - 0px);
}

.ic_menu_collapse_btn button {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ebedef;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  color: #5c727d;
}
.ic_menu_collapse_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ic_menu_collapse_btn .ic_header_logo {
  display: none;
}
.ic_header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ic_user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ic_user img {
  border-radius: 50%;
}

/**Responsive**/

@media only screen and (max-width: 1599.98px) {
  .ic_header_wrapper {
    padding: 14px 26px;
    margin-left: 260px;
    width: calc(100% - 260px);
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_header_wrapper {
    margin-left: 0px;
    width: calc(100% - 0px);
  }
  .ic_menu_collapse_btn .ic_header_logo {
    display: block;
  }
}
@media only screen and (max-width: 575.98px) {
  .ic_add_listing {
    display: none;
  }
  .ic_menu_collapse_btn .ic_header_logo {
    width: 100px;
    object-fit: contain;
  }
}
