.ic_tes_content {
    background-color: var(--white-color);
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding: 30px 30px;
    position: relative;
}

.ic_quote {
    position: absolute;
    top: 30px;
    right: 30px;
}

.ic_quote svg {
    font-size: 48px;
    color: rgba(0, 66, 116, 0.30);
}

.ic_user {
    display: flex;
    align-items: center;
    gap: 15px;

}

.ic_user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

/***Responsive***/

@media only screen and (max-width: 1399.98px) {
    .ic_tes_content {
        padding: 25px 25px;
    }

    .ic_quote {
        top: 15px;
        right: 20px;
    }

    .ic_quote svg {
        font-size: 45px;
    }

    .ic_user {
        gap: 10px;
    }

    .ic_user img {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 1199.98px) {
    .ic_tes_content {
        padding: 20px 20px;

    }

    .ic_quote svg {
        font-size: 38px;
    }

}