/* Rental Properties CSS */

.ic_rental_properties_item {
    background-color: var(--gray-color);
    border-radius: 12px;

}

.ic_properties_thumbnail img {
    border-radius: 12px 0px 0px 12px;
}

.ic_properties_content {
    padding: 30px 30px 30px 30px;
}

.ic_top_info {
    margin-bottom: 20px;
}

.ic_type {
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    color: var(--secondary-color);
    background: rgba(0, 66, 116, 0.20);
    border-radius: 100px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.ic_location {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.ic_location svg {
    color: var(--primary-color);
}

.ic_title {
    margin-bottom: 12px;
}

.ic_description {
    margin-bottom: 20px;
}

.ic_info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.ic_info p {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ic_properties_user {
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 14px;
}

.ic_properties_user .ic_avatar {
    display: flex;
}

.ic_properties_user .ic_avatar img {
    border-radius: 50%;

}

.ic_properties_user .ic_content a:hover {
    color: var(--primary-color);
}

.ic_properties_user .ic_content p {
    line-height: 20px;
}

/* Rental Properties Responsive */

@media only screen and (max-width: 1399.98px) {
    .ic_properties_content {
        padding: 20px 14px 20px 14px;
    }

    .ic_top_info {
        margin-bottom: 10px;
    }

    .ic_location {
        margin-bottom: 5px;
    }

    .ic_info {
        gap: 10px;
        margin-bottom: 12px;
    }

    .ic_info p {
        gap: 3px;
    }

    .ic_type {
        margin-bottom: 12px;
    }

    .ic_title {
        margin-bottom: 10px;
    }

    .ic_description {
        margin-bottom: 12px;
    }

    .ic_properties_user {
        padding-top: 12px;
    }
}

@media only screen and (max-width: 1199.98px) {
    .ic_properties_content {
        padding: 20px 20px 20px 20px;
    }
}

@media only screen and (max-width: 767.98px) {
    .ic_properties_thumbnail img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 12px 12px 0px 0px;
    }
}