.ic_blog_details_img img {
    border-radius: 12px 12px 0px 0px;
    max-width: 100%;
    height: auto;
}

.ic_blog_left {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: var(--white-color);
    border-radius: 12px;
}

.ic_blog_details_tag {
    padding: 30px 30px;
}

.ic_blog_details p {
    margin-bottom: 20px;
    color: var(--body-color);
}

.ic_blog_details h5 {
    color: var(--title-color);
    margin-bottom: 20px;
}

.ic_blog_details ul {
    padding-left: 16px;
    margin-bottom: 20px;
}

.ic_blog_details ul li {
    list-style-position: outside;
    margin-bottom: 5px;
    color: var(--body-color)
}

.ic_blog_details img {
    border-radius: 12px;
    margin-bottom: 20px;
    max-width: 100%;
}

.ic_blog_author_comment {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.ic_blog_author_comment span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
}

.ic_blog_author_comment span svg {
    color: var(--primary-color);
}

.ic_blog_quote {
    background-color: var(--background);
    border-radius: 12px;
    padding: 50px 45px;
    border-left: 6px solid var(--primary-color);
    margin-bottom: 20px;
}

.ic_blog_quote p {
    font-size: 18px;
    color: var(--title-color);
    font-style: italic;
    margin-bottom: 0px;
}

.ic_blog_related_tag {
    display: flex;
    gap: 20px;
}

.ic_blog_related_tag p {
    margin-bottom: 0px;
}

.ic_blog_related_tag ul {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.ic_blog_related_tag ul li {
    list-style-type: none;
}

.ic_blog_related_tag ul li a {
    height: 34px;
    padding: 0px 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.ic_customer_reviews {
    margin-top: 30px;
}

.ic_blog_comment {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.ic_blog_comment .ic_avatar {
    flex: 0 0 auto;
    width: 76px;
}

.ic_blog_comment .ic_avatar img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.ic_blog_comment .ic_content .ic_review_icon {
    margin-bottom: 8px;
    display: inline-block;
}

.ic_blog_comment .ic_content .ic_review_icon svg {
    color: #EF8000;
}

.ic_blog_comment .ic_content h6 {
    margin-bottom: 5px;
}

.ic_blog_comment .ic_content button {
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: var(--primary-color);
}

.ic_leave_replay {
    background-color: var(--background);
    border-radius: 12px;
}

.ic_leave_replay .ic_title {
    padding: 30px 30px;
    border-bottom: 1px solid #E9E9E9;
}

.ic_reply_form {
    padding: 30px 30px;
}

.ic_form_group {
    display: flex;
    flex-direction: column;
}

.ic_form_group label {
    margin-bottom: 5px;
}

.ic_form_group input,
.ic_form_group textarea {
    height: 45px;
    padding: 0px 14px;
    border-radius: 6px;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background-color: var(--white-color);
}

.ic_form_group textarea {
    height: 130px;
    padding: 14px 14px;
}


/**** Responsive  ****/
@media only screen and (max-width: 1399.98px) {
    .ic_blog_details_tag {
        padding: 25px 25px;
    }
}


@media only screen and (max-width: 991.98px) {
    .ic_blog_author_comment {
        margin-bottom: 12px;
    }

    .ic_blog_details h5 {
        margin-bottom: 12px;

    }

    .ic_blog_details p {
        margin-bottom: 12px;

    }

    .ic_blog_quote {
        padding: 40px 35px;
    }

    .ic_blog_quote p {
        margin-bottom: 0px;
    }

    .ic_blog_comment .ic_avatar {
        width: 60px;
    }

    .ic_blog_comment .ic_avatar img {
        width: 60px;
        height: 60px;
    }

    .ic_leave_replay .ic_title {
        padding: 20px 20px;
    }

    .ic_reply_form {
        padding: 20px 20px;
    }

    .ic_blog_details img {
        width: 100%;
    }


}

@media only screen and (max-width: 767.98px) {
    .ic_blog_quote {
        padding: 30px 25px;
    }


}

@media only screen and (max-width: 767.98px) {
    .ic_blog_quote {
        padding: 20px 20px;
    }

    .ic_blog_quote p {
        margin-bottom: 0px;
    }

}