/* CTA CSS */

.ic_cta_area {
  background-image: url("../../../images/top-location-bg.png");
  position: relative;
  padding: 115px 0px;
}

.ic_cta_area::after {
  content: "";
  background: rgba(0, 66, 116, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ic_cta_wrapper {
  max-width: 950px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 9;
}

.ic_cta_content .ic_sub_title {
  background: rgba(255, 255, 255, 0.2);
  height: 32px;
  border-radius: 100px;
  padding: 0px 18px;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.ic_cta_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.ic_cta_btn .ic_contact_btn {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.ic_cta_btn .ic_contact_btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* CTA Responsive */

@media only screen and (max-width: 1399.98px) {
  .ic_cta_area {
    padding: 100px 0px;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_cta_area {
    padding: 80px 0px;
  }
}

@media only screen and (max-width: 991.98px) {
  .ic_cta_area {
    padding: 60px 0px;
  }
}

@media only screen and (max-width: 767.98px) {
  .ic_cta_area {
    padding: 50px 0px;
  }
}
