.ic_recent_message_item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e8f7;
}
.ic_recent_message_item:last-child {
  margin-bottom: 0;
  padding-bottom: 0px;
  border-bottom: none;
}
.ic_message_header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.ic_message_header img {
  border-radius: 50%;
}

/**Responsive**/

@media only screen and (max-width: 1299.98px) {
  .ic_message_header {
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1199.98px) {
}

@media only screen and (max-width: 991.98px) {
}

@media only screen and (max-width: 767.98px) {
}
