.ic_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ic_inquiry_listing {
    background-color: var(--white-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 40px;
}

.ic_next_prev_btn {
    display: flex;
    align-items: center;
    gap: 8px;

}

.ic_next_prev_btn button {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    background-color: var(--white-color);
    transition: all 0.5s ease;
    color: var(--secondary-color);
}

/********** Responsive **********/

@media only screen and (max-width: 1399.98px) {
    .ic_inquiry_listing {
        padding: 30px 30px;
    }


}

@media only screen and (max-width: 1199.98px) {
    .ic_inquiry_listing {
        padding: 25px 20px;
    }


}

@media only screen and (max-width: 991.98px) {
    .ic_inquiry_listing {
        margin-top: 30px;
    }


}