.ic_compare_wrapper {
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px #0000000f;
  border: 1px solid #e9e9e9;
  padding: 0px 30px;
  width: 100%;
  overflow: auto;
}

.ic_compare_wrapper table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.ic_compare_wrapper table thead th {
  padding: 30px 30px;
  vertical-align: top;
}
.ic_compare_wrapper table thead th {
  border-right: 1px solid #e9e9e9;
}
.ic_compare_wrapper table thead th:last-child {
  border-right: none;
}
.ic_compare_wrapper table tbody td {
  padding: 20px 30px;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
.ic_compare_wrapper table tbody td:last-child {
  border-right: none;
}
.ic_property_img_icon {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.ic_property_img_icon img {
  border-radius: 6px;
}

.ic_property_img_icon button {
  width: 32px;
  height: 32px;
  background-color: var(--white-color);
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  transition: all 0.3s;
}
.ic_property_img_icon button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ic_check {
  color: #5c727d;
}

.ic_remove svg {
  color: var(--primary-color);
}
