.ic_pricing_wrapper .ic_pricing_heading {
  text-align: center;
}
.ic_pricing_wrapper .ic_pricing_heading span {
  color: var(--primary-color);
  display: inline-flex;
  padding: 4px 18px;
  border-radius: 100px;
  background: rgba(255, 90, 60, 0.1);
}
.ic_pricing_wrapper .ic_pricing_heading h2 {
  padding: 20px 0;
  text-align: center;
}
.ic_change_monthly {
  text-align: center;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.ic_change_monthly span {
  font-size: 14px;
  font-weight: 500;
}
.ic_plan_wrapper {
  margin-top: 50px;
}
.ic_plan_item {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  box-shadow: 0px 40px 140px 0px rgba(28, 15, 48, 0.12);
  padding: 50px 30px;
  position: relative;
}
.ic_plan_item.popular {
  border: 2px solid var(--primary-color);
  padding: 70px 30px;
}
.ic_plan_item .ic_btn_outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 4px;
  border: 2px solid rgba(255, 90, 60, 0.14);
  background: #fff;
  color: var(--primary-color);
  font-weight: 500;
}
.ic_plan_item .ic_btn_outline:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.ic_pricing_heading h5 {
  padding-bottom: 6px;
  text-align: center;
}
.ic_pricing_heading h3 {
  font-weight: 600;
  padding-bottom: 50px;
  text-align: center;
}
.ic_pricing_heading h3 span {
  color: var(--body-color);
  font-weight: 500;
}
.ic_features {
  padding-top: 30px;
}
.ic_features li {
  font-size: 14px;
  line-height: 34px; /* 242.857% */
  text-align: left;
  list-style: none;
}

.popular_name {
  position: absolute;
  top: 0;
  background-image: url(../../../../src/images/most-popular.svg);
  height: 24px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: 500;
  color: var(--white-color);
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .ic_plan_item {
    padding: 30px 20px;
  }
  .ic_plan_item.popular {
    padding: 40px 20px;
  }
  .ic_pricing_heading h5 {
    padding-bottom: 6px;
    text-align: center;
  }
  .ic_pricing_heading h3 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  .ic_pricing_heading h3 span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1199.98px) {
  .ic_plan_item.popular {
    padding: 30px 20px;
  }
}
