.ic_property_item {
  box-shadow: 0px 4px 16px 0px #00000014;
  border-radius: 12px;
  background-color: var(--white-color);
}

.ic_property_thumbnail {
  position: relative;
  height: 100%;
}

.ic_property_thumbnail img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 12px 0px 0px 12px;
  height: 100%;
  object-fit: cover;
}

.ic_property_favorite {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
}

.ic_property_favorite button {
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.ic_property_favorite button svg {
  color: rgba(92, 114, 125, 1);
}

.ic_property_info {
  padding: 25px 0px;
}

.ic_price_type {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-right: 30px;
}
.ic_price_type .ic_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ic_delete_btn {
  width: 32px;
  height: 32px;
  background: #ebedef;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: var(--primary-color);
  transition: all 0.3s ease;
}
.ic_delete_btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.ic_property_type {
  height: 30px;
  padding: 0px 18px;
  background-color: var(--secondary-color);
  border-radius: 100px;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.ic_property_title {
  margin-bottom: 15px;
}

.ic_property_title h5 {
  margin-bottom: 4px;
}

.ic_info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.ic_location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding-right: 30px;
  gap: 20px;
}

.ic_location p {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ic_location svg {
  color: var(--secondary-color);
  width: 16px;
  flex: 0 0 auto;
}

.ic_property_type_author img {
  border-radius: 50%;
  display: flex;
}

/* Property Item Responsive */

@media only screen and (max-width: 1399.98px) {
  .ic_price_type {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 767.98px) {
  .ic_property_thumbnail img {
    border-radius: 12px 12px 0px 0px;
  }

  .ic_property_info {
    padding: 20px 20px;
    padding-top: 0px;
  }

  .ic_location {
    padding-right: 0px;
  }

  .ic_property_title {
    margin-bottom: 10px;
  }
}
